<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultura</title>
</head>
<body>

  <style>
    .footer {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: #f8f9fa;
      color:#3944B9;
      padding: 50px;
      text-align: justify;
      margin-top: 30px;
      }
  </style>

    <%- include('navbar.ejs') %>
    <h1 style="color:#3944B9;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-top: 3%; margin-left: 6%;">Hoje</h1>
    <br><h2 style="color: #3944B9; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: 6%;"> Cultura</h2><br>

    <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/imagens/cinema.png" class="img-fluid rounded-start" alt="streaming">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Ministério da Cultura vai lançar plataforma de streaming público para produções nacionais.</h5>
            <p class="card-text">
              O Ministério da Cultura (MinC) vai lançar uma plataforma de streaming gratuita para produções nacionais ainda este ano. A pasta confirmou ao Estadão a nova ação da Secretaria do Audiovisual (SAV). A ideia da iniciativa é “promover a diversidade cultural do Brasil ao disponibilizar gratuitamente uma ampla gama de conteúdos audiovisuais nacionais, incluindo filmes, séries e documentários”, segundo informações do ministério.</p>
            <p class="card-text"><small class="text-muted">Atualizado a 10 minutos atrás. <br> Fonte: Tv Cultura </small></p>
          </div>
        </div>
      </div>
    </div> 

    <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/imagens/lei.jpeg" class="img-fluid rounded-start" alt="lei">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Lei Municipal de Incentivo à Cultura abre inscrições até 31 de maio.</h5>
            <p class="card-text">
              A Prefeitura de Goiânia, por meio da Secretaria Municipal de Cultura (Secult), recebe até o dia 31 de maio as inscrições dos interessados na Lei Municipal de Incentivo à Cultura 2024. Podem concorrer projetos das modalidades circo, dança, teatro, artes visuais, audiovisual, literatura, música, abrangência cultural e manifestação da cultura popular, terceiro setor de ação ampla, ações formativas e pequenas adaptações. Está disponível o valor total de R$ 4.199.000,00 para os selecionados.</p>
            <p class="card-text"><small class="text-muted">Atualizado a 2 horas atrás. <br> Fonte: O Globo </small></p>
          </div>
        </div>
      </div>
    </div> 

    <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/imagens/amazonia.jpeg" class="img-fluid rounded-start" alt="lei">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Ex-BBB Isabelle é homenageada na UEA por promover visibilidade nacional e internacional da cultura amazonense.</h5>
            <p class="card-text">
              A cunhã-poranga do Boi-Bumbá Garantido, Isabelle Nogueira, recebeu uma honra ao mérito concedida pela Universidade do Estado do Amazonas (UEA), nesta quarta-feira (8), Dia Nacional do Turismo.</p>
            <p class="card-text"><small class="text-muted">Atualizado a 5 horas atrás. <br> Fonte: Tv Cultura</small></p>
          </div>
        </div>
      </div>
    </div> 

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <p>DESCUBRA A JHUB:</p>
            <p>Bem vindo ao seu hub de notícias <br> que personaliza os assuntos<br> que você se interessa e coloca em um único lugar</p>
          </div>
          <div class="col-md-5">
            <p>FAÇA O SEU JHUB:</p>
            <p> Escolha os tópicos <br> que te interressam e aproveite!</p>
          </div>
        </div>
      </div>
    </footer>
    
</body>
</html>