<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Economia</title>
</head>
<body>

  <style>
    .footer {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: #f8f9fa;
      color:#3944B9;
      padding: 50px;
      text-align: justify;
      margin-top: 30px;
      }
  </style>
  
    <%- include('navbar.ejs') %>
    <h1 style="color:#3944B9;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-top: 3%; margin-left: 6%;">Hoje</h1>
    <br><h2 style="color: #3944B9; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: 6%;"> Economia</h2><br>

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/ibovespa.jpeg" class="img-fluid rounded-start" alt="ibovespa">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Ibovespa cai mais de 1% com Copom dividido e resultados corporativos em foco.</h5>
              <p class="card-text">A divisão na decisão, com parte dos membros do Copom apoiando um corte maior, trouxe preocupações sobre o viés político da política monetária.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 5 minutos atrás. <br> Fonte: Valor Econômico </small></p>
            </div>
          </div>
        </div>
      </div> 

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/selic.jpeg" class="img-fluid rounded-start" alt="selic">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                A taxa Selic cai para 10,5% ao ano. Entenda o que isso significa.</h5>
              <p class="card-text">Decisão do Copom deve elevar taxas dos títulos IPCA+, que podem render inflação mais 6% ao ano.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 10 minutos atrás. <br> Fonte: Money Times </small></p>
            </div>
          </div>
        </div>
      </div> 

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/eletrobras.jpeg" class="img-fluid rounded-start" alt="eletrobras">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Eletrobras tem lucro 19% menor no 1º trimestre.</h5>
              <p class="card-text">Entre janeiro e março, o Ebitda (lucro antes de juros, impostos, depreciação e amortização) ajustado da companhia somou R$ 4,5 bilhões.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 1 hora atrás. <br> Fonte: Info Money </small></p>
            </div>
          </div>
        </div>
      </div> 

      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <p>DESCUBRA A JHUB:</p>
              <p>Bem vindo ao seu hub de notícias <br> que personaliza os assuntos<br> que você se interessa e coloca em um único lugar</p>
            </div>
            <div class="col-md-5">
              <p>FAÇA O SEU JHUB:</p>
              <p> Escolha os tópicos <br> que te interressam e aproveite!</p>
            </div>
          </div>
        </div>
      </footer>

</body>
</html>