<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educação</title>
</head>
<body>
  <style>
    .footer {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: #f8f9fa;
      color:#3944B9;
      padding: 50px;
      text-align: justify;
      margin-top: 30px;
      }
  </style>

  <%- include('navbar.ejs') %>
    <h1 style="color:#3944B9;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-top: 3%; margin-left: 6%;">Hoje</h1>
    <br><h2 style="color: #3944B9; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: 6%;"> Educação</h2><br>


    <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/imagens/professor.jpg" class="img-fluid rounded-start" alt="professor">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Oito em cada dez professores já pensaram em desistir da carreira.</h5>
            <p class="card-text">Oito em cada dez professores da educação básica já pensaram em desistir da carreira. 
              Entre os motivos estão o baixo retorno financeiro, a falta de reconhecimento profissional, a carga horária excessiva e a falta de interesse dos alunos. Os dados são da pesquisa inédita Perfil e Desafios dos Professores da Educação Básica no Brasil, divulgada nesta quarta-feira (8), pelo Instituto Semesp.</p>
            <p class="card-text"><small class="text-muted">Atualizado a 1 hora atrás. <br> Fonte: Veja </small></p>
          </div>
        </div>
      </div>
    </div> 

    <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/imagens/educacao.jpeg" class="img-fluid rounded-start" alt="educacao">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Edital seleciona professores e entidades sociais para compor Comitê Nacional de Educação e Cultura em Direitos Humanos.</h5>
            <p class="card-text">Interessados têm até 6 de junho para participar; objetivo do colegiado é subsidiar a criação, monitoramento e avaliação do Plano Nacional de Educação em Direitos Humanos.</p>
            <p class="card-text"><small class="text-muted">Atualizado a 6 horas atrás. <br> Fonte: Folha de São Paulo</small></p>
          </div>
        </div>
      </div>
    </div> 


    <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/imagens/flexibilizacao.jpeg" class="img-fluid rounded-start" alt="flexibilizacao">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Ministro da Educação anuncia flexibilização do ano escolar para o Rio Grande do Sul após enchentes.</h5>
            <p class="card-text">O ministro da Educação, Camilo Santana (PT), anunciou nesta quinta-feira (9) resolução do Conselho Nacional de Educação que flexibiliza o ano escolar para os municípios atingidos pelas enchentes no Rio Grande do Sul, em acordo com as secretarias de educação de cada cidade e com o governador Eduardo Leite (PSDB).</p>
            <p class="card-text"><small class="text-muted">Atualizado a 10 horas atrás. <br> Fonte: CNN Brasil </small></p>
          </div>
        </div>
      </div>
    </div> 

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <p>DESCUBRA A JHUB:</p>
            <p>Bem vindo ao seu hub de notícias <br> que personaliza os assuntos<br> que você se interessa e coloca em um único lugar</p>
          </div>
          <div class="col-md-5">
            <p>FAÇA O SEU JHUB:</p>
            <p> Escolha os tópicos <br> que te interressam e aproveite!</p>
          </div>
        </div>
      </div>
    </footer>


</body>
</html>