<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esporte</title>
</head>
<body>
  <style>
    .footer {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: #f8f9fa;
      color:#3944B9;
      padding: 50px;
      text-align: justify;
      margin-top: 30px;
      }
  </style>

  <%- include('navbar.ejs') %>
    <h1 style="color:#3944B9;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-top: 3%; margin-left: 6%;">Hoje</h1>
    <br><h2 style="color: #3944B9; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: 6%;"> Esporte</h2><br>

    <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/imagens/futebol.jpg" class="img-fluid rounded-start" alt="futebol">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Ministro do Esporte quer suspensão temporária do futebol brasileiro após tragédia no Rio Grande do Sul.</h5>
            <p class="card-text">Diante da tragédia provocada por fortes chuvas que alagaram diversos pontos do Rio Grande do Sul nos últimos dias, o Ministro do Esporte, André Fufuca, quer a paralisação do futebol brasileiro. A declaração foi dada em entrevista à ESPN.</p>
            <p class="card-text"><small class="text-muted">Atualizado a 15 horas atrás. <br> Fonte: O Dia </small></p>
          </div>
        </div>
      </div>
    </div> 

    <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/imagens/senado.jpeg" class="img-fluid rounded-start" alt="fundo">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Fundo para o esporte e parte do direito de arena aos atletas são restabelecidos.</h5>
            <p class="card-text">Serão incluídos na Lei Geral do Esporte - LGE (Lei 14.597 de 2023) 50 dispositivos que haviam sido vetados pelo presidente Luiz Inácio Lula da Silva. 
              Entre os dispositivos que tiveram o veto derrubado nesta quinta-feira (9), durante sessão do Congresso Nacional, estão o pagamento de uma porcentagem do direito de arena aos 
              jogadores e a criação do Fundo Nacional do Esporte. Outros três dispositivos vetados na LGE tiveram os vetos mantidos e 294 ainda precisarão ser apreciados pelo Congresso.</p>
            <p class="card-text"><small class="text-muted">Atualizado a 15 horas atrás. <br> Fonte: Gazeta Esportiva </small></p>
          </div>
        </div>
      </div>
    </div> 

    <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/imagens/corrida.jpg" class="img-fluid rounded-start" alt="corrida">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Corrida de Outono já tem percurso definido.</h5>
            <p class="card-text">Nesta quinta-feira (09), a Secretaria de Esporte e Lazer divulgou o percurso da Corrida de Outono, que terá largada e chegada na Praça do Bairro Vida Nova. Ao todo são cinco quilômetros de trajeto para os 550 participantes inscritos na segunda etapa do Circuito de Corrida de Rua.</p>
            <p class="card-text"><small class="text-muted">Atualizado a 17 horas atrás. <br> Fonte: ESPN Brasil </small></p>
          </div>
        </div>
      </div>
    </div> 

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <p>DESCUBRA A JHUB:</p>
            <p>Bem vindo ao seu hub de notícias <br> que personaliza os assuntos<br> que você se interessa e coloca em um único lugar</p>
          </div>
          <div class="col-md-5">
            <p>FAÇA O SEU JHUB:</p>
            <p> Escolha os tópicos <br> que te interressam e aproveite!</p>
          </div>
        </div>
      </div>
    </footer>
    
</body>
</html>