<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/CSS/index.css">
    <title>Feed</title>
</head>
<body>
    <%- include('navbar.ejs') %>

    <h1 style="color:#3944B9;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-top: 3%; margin-left: 6%;">Hoje</h1>
    <h2 style="color: #3944B9; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: 6%;"> Tecnologia</h2><br>


    <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/tiktok.png" class="img-fluid rounded-start" alt="Tiktok">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">TikTok afirma que começará a rotular conteúdo gerado por IA.</h5>
              <p class="card-text">À medida que imagens, sons e vídeos feitos por IA se tornam comuns, a plataforma de mídia social em apuros faz questão de dizer que os usuários notarão seu identificador “AIGC".</p>
              <p class="card-text"><small class="text-muted">Atualizado a 3 minutos atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 
      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/elon_musk.jpeg" class="img-fluid rounded-start" alt="elon musk">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">A Tesla cortou silenciosamente mais de 3.400 ofertas de emprego.</h5>
              <p class="card-text"> A empresa de Elon Musk deixou apenas 3 listadas ofertas de emprego nos EUA – mas os candidatos podem enfrentar espaços confinados, materiais perigosos e jornadas de 12 horas.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 5 minutos atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 
      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/pop.jpeg" class="img-fluid rounded-start" alt="pop">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Imagens e vídeos de deepfake se tornam mais sofisticados.</h5>
              <p class="card-text"> Katy Perry e Rihanna que se tornam alvo de deepfake no Met Gala.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 10 minutos atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <br><h2 style="color: #3944B9; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: 6%;"> Economia</h2><br>

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/ibovespa.jpeg" class="img-fluid rounded-start" alt="ibovespa">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Ibovespa cai mais de 1% com Copom dividido e resultados corporativos em foco.</h5>
              <p class="card-text">A divisão na decisão, com parte dos membros do Copom apoiando um corte maior, trouxe preocupações sobre o viés político da política monetária.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 5 minutos atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/selic.jpeg" class="img-fluid rounded-start" alt="selic">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                A taxa Selic cai para 10,5% ao ano. Entenda o que isso significa.</h5>
              <p class="card-text">Decisão do Copom deve elevar taxas dos títulos IPCA+, que podem render inflação mais 6% ao ano.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 10 minutos atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/eletrobras.jpeg" class="img-fluid rounded-start" alt="eletrobras">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Eletrobras tem lucro 19% menor no 1º trimestre.</h5>
              <p class="card-text">Entre janeiro e março, o Ebitda (lucro antes de juros, impostos, depreciação e amortização) ajustado da companhia somou R$ 4,5 bilhões.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 1 hora atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <br><h2 style="color: #3944B9; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: 6%;"> Business</h2><br>


      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/decisao.jpeg" class="img-fluid rounded-start" alt="decisao">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Lutando com uma grande decisão de gerenciamento? Comece perguntando o que realmente importa.</h5>
              <p class="card-text">Os líderes devem enfrentar escolhas difíceis, desde cortar um orçamento até adotar uma estratégia para crescer. Para tomar a decisão certa, devem começar por seguir a sua própria “verdadeira bússola moral”, diz Joseph Badaracco.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 4 hora atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/business1.jpeg" class="img-fluid rounded-start" alt="business">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Mackenzie Scott doa R$ 40 milhões para ONG no Brasil.</h5>
              <p class="card-text">A bilionária Mackenzie Scott assumiu o compromisso de doar 50% de seu patrimônio em vida.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 5 hora atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/business.jpeg" class="img-fluid rounded-start" alt="business">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Além da sustentabilidade: prepare-se para o movimento alimentar regenerativo.</h5>
              <p class="card-text">No painel da Fast Company durante o SXSW, as partes interessadas revelaram como marcas, agricultores e consumidores estão unindo forças para criar um ecossistema alimentar inovador.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 7 hora atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <br><h2 style="color: #3944B9; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: 6%;"> Marketing</h2><br>

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/tesla_mkt.png" class="img-fluid rounded-start" alt="tesla">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Não siga o erro de marketing da Tesla.</h5>
              <p class="card-text">A Tesla demitiu sua equipe de marketing este mês. As demissões ocorrem apenas um ano depois de uma ordem para “experimentar publicidade” que Elon Musk disse mais tarde ser “muito genérica”. Mas será que o marketing é realmente o culpado? Existe uma lição para outras empresas?</p>
              <p class="card-text"><small class="text-muted">Atualizado a 8 minutos atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/competitividade.png" class="img-fluid rounded-start" alt="competitividade">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Como usar testes para criar uma vantagem competitiva.</h5>
              <p class="card-text">Saber quais ativos criativos obrigam seu público a agir pode trazer grande sucesso para os profissionais de marketing. Mas como você descobre isso? Você deve começar a testar e aqui está uma ajuda para começar hoje.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 40 minutos atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/estrategia.png" class="img-fluid rounded-start" alt="estrategia">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Como adaptar suas estratégias de SEO e conteúdo para experiências de SGE e IA.</h5>
              <p class="card-text">O Google está lançando sua Experiência Gerativa de Pesquisa ao público. E esse não é o único impacto influenciado pela IA nas páginas de resultados de pesquisa. É hora de atualizar sua estratégia de conteúdo para refletir melhor essas novas experiências de pesquisa.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 5 horas atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 
      
      <br><h2 style="color: #3944B9; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: 6%;"> Política</h2><br>

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/trump.jpeg" class="img-fluid rounded-start" alt="trump">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Trump promete aos executivos do petróleo acabar com os veículos elétricos de uma vez por todas em troca de US$ 1 bilhão em doações de campanha, relata o Washington Post.</h5>
              <p class="card-text">O candidato presidencial prometeu destruir o já sitiado setor de veículos elétricos em uma reunião com executivos do petróleo.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 1 hora atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/cachorro.jpeg" class="img-fluid rounded-start" alt="cachorro">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Câmara aprova projeto que obriga aéreas a rastrear transporte de pets.</h5>
              <p class="card-text">Câmara aprova projeto que obriga aéreas a rastrear transporte de pets.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 3 horas atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/politica.png" class="img-fluid rounded-start" alt="politica">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Câmara aprova dispensa de licença ambiental para plantações de eucalipto.</h5>
              <p class="card-text">A Câmara dos Deputados aprovou nesta quarta-feira 8 o Projeto de Lei (PL) 1366/22 que exclui a silvicultura (cultivo de árvores com fins comerciais, como pinhos e eucaliptos) do rol de atividades potencialmente poluidoras.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 4 horas atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <br><h2 style="color: #3944B9; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: 6%;"> Educação</h2><br>


      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/professor.jpg" class="img-fluid rounded-start" alt="professor">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Oito em cada dez professores já pensaram em desistir da carreira.</h5>
              <p class="card-text">Oito em cada dez professores da educação básica já pensaram em desistir da carreira. 
                Entre os motivos estão o baixo retorno financeiro, a falta de reconhecimento profissional, a carga horária excessiva e a falta de interesse dos alunos. Os dados são da pesquisa inédita Perfil e Desafios dos Professores da Educação Básica no Brasil, divulgada nesta quarta-feira (8), pelo Instituto Semesp.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 1 hora atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/educacao.jpeg" class="img-fluid rounded-start" alt="educacao">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Edital seleciona professores e entidades sociais para compor Comitê Nacional de Educação e Cultura em Direitos Humanos.</h5>
              <p class="card-text">Interessados têm até 6 de junho para participar; objetivo do colegiado é subsidiar a criação, monitoramento e avaliação do Plano Nacional de Educação em Direitos Humanos.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 6 horas atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 


      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/flexibilizacao.jpeg" class="img-fluid rounded-start" alt="flexibilizacao">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Ministro da Educação anuncia flexibilização do ano escolar para o Rio Grande do Sul após enchentes.</h5>
              <p class="card-text">O ministro da Educação, Camilo Santana (PT), anunciou nesta quinta-feira (9) resolução do Conselho Nacional de Educação que flexibiliza o ano escolar para os municípios atingidos pelas enchentes no Rio Grande do Sul, em acordo com as secretarias de educação de cada cidade e com o governador Eduardo Leite (PSDB).</p>
              <p class="card-text"><small class="text-muted">Atualizado a 10 horas atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <br><h2 style="color: #3944B9; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: 6%;"> Esporte</h2><br>

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/futebol.jpg" class="img-fluid rounded-start" alt="futebol">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Ministro do Esporte quer suspensão temporária do futebol brasileiro após tragédia no Rio Grande do Sul.</h5>
              <p class="card-text">Diante da tragédia provocada por fortes chuvas que alagaram diversos pontos do Rio Grande do Sul nos últimos dias, o Ministro do Esporte, André Fufuca, quer a paralisação do futebol brasileiro. A declaração foi dada em entrevista à ESPN.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 15 horas atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/senado.jpeg" class="img-fluid rounded-start" alt="fundo">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Fundo para o esporte e parte do direito de arena aos atletas são restabelecidos.</h5>
              <p class="card-text">Serão incluídos na Lei Geral do Esporte - LGE (Lei 14.597 de 2023) 50 dispositivos que haviam sido vetados pelo presidente Luiz Inácio Lula da Silva. 
                Entre os dispositivos que tiveram o veto derrubado nesta quinta-feira (9), durante sessão do Congresso Nacional, estão o pagamento de uma porcentagem do direito de arena aos 
                jogadores e a criação do Fundo Nacional do Esporte. Outros três dispositivos vetados na LGE tiveram os vetos mantidos e 294 ainda precisarão ser apreciados pelo Congresso.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 15 horas atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/corrida.jpg" class="img-fluid rounded-start" alt="corrida">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Corrida de Outono já tem percurso definido.</h5>
              <p class="card-text">Nesta quinta-feira (09), a Secretaria de Esporte e Lazer divulgou o percurso da Corrida de Outono, que terá largada e chegada na Praça do Bairro Vida Nova. Ao todo são cinco quilômetros de trajeto para os 550 participantes inscritos na segunda etapa do Circuito de Corrida de Rua.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 17 horas atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <br><h2 style="color: #3944B9; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: 6%;"> Cultura</h2><br>

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/cinema.png" class="img-fluid rounded-start" alt="streaming">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Ministério da Cultura vai lançar plataforma de streaming público para produções nacionais.</h5>
              <p class="card-text">
                O Ministério da Cultura (MinC) vai lançar uma plataforma de streaming gratuita para produções nacionais ainda este ano. A pasta confirmou ao Estadão a nova ação da Secretaria do Audiovisual (SAV). A ideia da iniciativa é “promover a diversidade cultural do Brasil ao disponibilizar gratuitamente uma ampla gama de conteúdos audiovisuais nacionais, incluindo filmes, séries e documentários”, segundo informações do ministério.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 10 minutos atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/lei.jpeg" class="img-fluid rounded-start" alt="lei">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Lei Municipal de Incentivo à Cultura abre inscrições até 31 de maio.</h5>
              <p class="card-text">
                A Prefeitura de Goiânia, por meio da Secretaria Municipal de Cultura (Secult), recebe até o dia 31 de maio as inscrições dos interessados na Lei Municipal de Incentivo à Cultura 2024. Podem concorrer projetos das modalidades circo, dança, teatro, artes visuais, audiovisual, literatura, música, abrangência cultural e manifestação da cultura popular, terceiro setor de ação ampla, ações formativas e pequenas adaptações. Está disponível o valor total de R$ 4.199.000,00 para os selecionados.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 2 horas atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/amazonia.jpeg" class="img-fluid rounded-start" alt="lei">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Ex-BBB Isabelle é homenageada na UEA por promover visibilidade nacional e internacional da cultura amazonense.</h5>
              <p class="card-text">
                A cunhã-poranga do Boi-Bumbá Garantido, Isabelle Nogueira, recebeu uma honra ao mérito concedida pela Universidade do Estado do Amazonas (UEA), nesta quarta-feira (8), Dia Nacional do Turismo.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 5 horas atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <br><h2 style="color: #3944B9; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: 6%;"> Startup</h2><br>

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/etiqueta.png" class="img-fluid rounded-start" alt="etiqueta">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Startup fatura R$ 1,5 milhão com etiquetas inteligentes para a indústria têxtil.</h5>
              <p class="card-text">
                Para alguns consumidores, as etiquetas de roupas podem ser vistas como incômodas e algo a ser cortado das peças. Porém, ainda que sejam percebidas como descartáveis por muitos, as etiquetas podem causar prejuízo aos empreendedores que não cumprirem com as legislações vigentes. Para sanar essa dor do mercado, Karine Liotino e Mariana Amaral fundaram a Etiqueta Certa, startup que faturou R$ 1,5 milhão em 2023.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 1 hora atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/satelite.png" class="img-fluid rounded-start" alt="satélite">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Startup conecta satélite diretamente por Bluetooth pela 1ª vez.</h5>
              <p class="card-text">
                Foi estabelecida pela primeira vez — e de forma direta — a conexão Bluetooth no espaço. O feito vem da startup Hubble Network e representa um grande passo para a empresa, e tem potencial de abrir o caminho para a conexão de milhões de dispositivos no mundo.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 5 horas atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/empresas.png" class="img-fluid rounded-start" alt="empresas">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Startup espacial de cofundador da Apple arrecada US$ 56,5 mi e faz fusão de empresas.</h5>
              <p class="card-text">
                A startup de dados espaciais do cofundador da Apple Steve Wozniak, Privateer, arrecadou US$ 56,5 milhões e comprou a empresa de análise Orbital Insight, uma fusão que adicionará serviços de mapeamento e inteligência às ofertas de dados da empresa.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 8 horas atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 


      <br><h2 style="color: #3944B9; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: 6%;"> Música</h2><br>

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/homenagem.jpeg" class="img-fluid rounded-start" alt="homenagem">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Roberto de Carvalho faz homenagem e confirma lançamento de música inédita de Rita Lee.</h5>
              <p class="card-text">
                Roberto de Carvalho, viúvo de Rita Lee, revelou em uma publicação no Instagram que a primeira música inédita da cantora em lançamento póstumo chegará ainda este mês.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 1 hora atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/dupla.png" class="img-fluid rounded-start" alt="sertanejo">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Chitãozinho detona nova geração da música sertaneja e dispara: “Sem conteúdo”.</h5>
              <p class="card-text">
                Pela primeira vez na história, a dupla sertaneja Chitãozinho e Xororó está pronta para subir ao palco do Rock in Rio, agendado para setembro deste ano. No entanto, o anúncio da participação dos renomados artistas sertanejos em um evento tão emblemático para os fãs do rock’n’roll não passou despercebido, gerando críticas e descontentamento entre parte do público habitual do festival.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 5 horas atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/assets/imagens/musica.png" class="img-fluid rounded-start" alt="música">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                Conheça os brasileiros prontos para dominar o cenário internacional da música eletrônica.</h5>
              <p class="card-text">
                Cada vez mais brasileiros vem se destacando na cena da música eletrônica internacional com lugar garantido nos festivais e clubs mais famosos do mundo. Os estilos são os mais variados e os talentos estão por toda parte do Brasil. Dois nomes que vem chamando atenção são Liu e Mila Journee, que estão no line-up da Tomorrowland Brasil — versão brasileira de um dos maiores festivais de música eletrônica do mundo. O evento acontece em Itu, São Paulo, nos dias 12, 13 e 14 de outubro.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 8 horas atrás. </small></p>
            </div>
          </div>
        </div>
      </div> 

      <script>
        document.getElementById('selecionadas').addEventListener('change', function() {
            var selecionadas = this.selectedOptions;
            var todasAsSecoes = document.querySelectorAll('div[id]');
            
            for (var i = 0; i < todasAsSecoes.length; i++) {
                var secao = todasAsSecoes[i];
                if (selecionadas.namedItem(secao.id)) {
                    secao.classList.remove('hidden');
                } else {
                    secao.classList.add('hidden');
                }
            }
        });
    </script>

      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <p>DESCUBRA A JHUB:</p>
              <p>Bem vindo ao seu hub de notícias <br> que personaliza os assuntos<br> que você se interessa e coloca em um único lugar</p>
            </div>
            <div class="col-md-5">
              <p>FAÇA O SEU JHUB:</p>
              <p> Escolha os tópicos <br> que te interressam e aproveite!</p>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>