<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Feed</title>

</head>
<body>
    <%- include('navbar.ejs') %>
    <br><br>
    
    <style>
      body {
          background-color: #f8f9fa;
      }

      .footer {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #f8f9fa;
        color:#3944B9;
        padding: 50px;
        text-align: justify;
        margin-top: 30px;
        }
    </style>

<h1 style="color:#3944B9;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-top: -4px; margin-left: 7%;">Feed</h1>
<h2 style="color:#3944B9;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-top: -4px; margin-left: 7%;">Tópicos</h1>
<br>
<div class="container" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card">
                    <img src="./assets/imagens/capa_tech.jpeg" class="card-img-top" alt="Capa de tech">
                    <div class="card-body">
                        <h5 class="card-title">Tecnologia</h5>
                        <p class="card-text">Fique por dentro das últimas notícias de Tecnologia</p>
                        <a href="/tecnologia" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="./assets/imagens/capa_econo.jpeg" class="card-img-top" alt="Capa de Economia">
                    <div class="card-body">
                        <h5 class="card-title">Economia</h5>
                        <p class="card-text">Fique por dentro das últimas notícias de Economia</p>
                        <a href="/economia" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="./assets/imagens/capa_negocios.jpeg" class="card-img-top" alt="Capa de Business">
                    <div class="card-body">
                        <h5 class="card-title">Business</h5>
                        <p class="card-text">Fique por dentro das últimas notícias de Business</p>
                        <a href="/business" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="./assets/imagens/capa_mkt.jpeg" class="card-img-top" alt="Capa de Marketing">
                    <div class="card-body">
                        <h5 class="card-title">Marketing</h5>
                        <p class="card-text">Fique por dentro das últimas notícias de Marketing</p>
                        <a href="/marketing" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="./assets/imagens/capa_educacao.jpeg" class="card-img-top" alt="Capa de Educação">
                    <div class="card-body">
                        <h5 class="card-title">Educação</h5>
                        <p class="card-text">Fique por dentro das últimas notícias de Educação</p>
                        <a href="/educacao" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="./assets/imagens/capa_esporte.jpeg" class="card-img-top" alt="Capa de Esporte">
                    <div class="card-body">
                        <h5 class="card-title">Esporte</h5>
                        <p class="card-text">Fique por dentro das últimas notícias de Esporte</p>
                        <a href="/esporte" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="./assets/imagens/capa_cultura.jpeg" class="card-img-top" alt="Capa de Cultura">
                    <div class="card-body">
                        <h5 class="card-title">Cultura</h5>
                        <p class="card-text">Fique por dentro das últimas notícias de Cultura</p>
                        <a href="/cultura" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="./assets/imagens/capa_startup.jpeg" class="card-img-top" alt="Capa de Startup">
                    <div class="card-body">
                        <h5 class="card-title">Startup</h5>
                        <p class="card-text">Fique por dentro das últimas notícias de Startup</p>
                        <a href="/startup" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="./assets/imagens/capa_politica.jpeg" class="card-img-top" alt="Capa de Política">
                    <div class="card-body">
                        <h5 class="card-title">Política</h5>
                        <p class="card-text">Fique por dentro das últimas notícias de Política</p>
                        <a href="/politica" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="./assets/imagens/capa_musica.jpeg" class="card-img-top" alt="Capa de Música">
                    <div class="card-body">
                        <h5 class="card-title">Música</h5>
                        <p class="card-text">Fique por dentro das últimas notícias de Música</p>
                        <a href="/musica" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <p>DESCUBRA A JHUB:</p>
            <p>Bem vindo ao seu hub de notícias <br> que personaliza os assuntos<br> que você se interessa e coloca em um único lugar</p>
          </div>
          <div class="col-md-5">
            <p>FAÇA O SEU JHUB:</p>
            <p> Escolha os tópicos <br> que te interressam e aproveite!</p>
          </div>
        </div>
      </div>
    </footer>
