<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing</title>
</head>
<body>

  <style>
    .footer {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: #f8f9fa;
      color:#3944B9;
      padding: 50px;
      text-align: justify;
      margin-top: 30px;
      }
  </style>
  
  <%- include('navbar.ejs') %>
    <h1 style="color:#3944B9;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-top: 3%; margin-left: 6%;">Hoje</h1>
    <br><h2 style="color: #3944B9; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: 6%;"> Marketing</h2><br>

    <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/imagens/tesla_mkt.png" class="img-fluid rounded-start" alt="tesla">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Não siga o erro de marketing da Tesla.</h5>
            <p class="card-text">A Tesla demitiu sua equipe de marketing este mês. As demissões ocorrem apenas um ano depois de uma ordem para “experimentar publicidade” que Elon Musk disse mais tarde ser “muito genérica”. Mas será que o marketing é realmente o culpado? Existe uma lição para outras empresas?</p>
            <p class="card-text"><small class="text-muted">Atualizado a 8 minutos atrás. </small></p>
          </div>
        </div>
      </div>
    </div> 

    <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/imagens/competitividade.png" class="img-fluid rounded-start" alt="competitividade">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Como usar testes para criar uma vantagem competitiva.</h5>
            <p class="card-text">Saber quais ativos criativos obrigam seu público a agir pode trazer grande sucesso para os profissionais de marketing. Mas como você descobre isso? Você deve começar a testar e aqui está uma ajuda para começar hoje.</p>
            <p class="card-text"><small class="text-muted">Atualizado a 40 minutos atrás. </small></p>
          </div>
        </div>
      </div>
    </div> 

    <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/imagens/estrategia.png" class="img-fluid rounded-start" alt="estrategia">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Como adaptar suas estratégias de SEO e conteúdo para experiências de SGE e IA.</h5>
            <p class="card-text">O Google está lançando sua Experiência Gerativa de Pesquisa ao público. E esse não é o único impacto influenciado pela IA nas páginas de resultados de pesquisa. É hora de atualizar sua estratégia de conteúdo para refletir melhor essas novas experiências de pesquisa.</p>
            <p class="card-text"><small class="text-muted">Atualizado a 5 horas atrás. </small></p>
          </div>
        </div>
      </div>
    </div> 

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <p>DESCUBRA A JHUB:</p>
            <p>Bem vindo ao seu hub de notícias <br> que personaliza os assuntos<br> que você se interessa e coloca em um único lugar</p>
          </div>
          <div class="col-md-5">
            <p>FAÇA O SEU JHUB:</p>
            <p> Escolha os tópicos <br> que te interressam e aproveite!</p>
          </div>
        </div>
      </div>
    </footer>
</body>
</html>