<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Música</title>
</head>
<body>
  <style>
    .footer {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: #f8f9fa;
      color:#3944B9;
      padding: 50px;
      text-align: justify;
      margin-top: 30px;
      }
  </style>

  <%- include('navbar.ejs') %>
    <h1 style="color:#3944B9;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-top: 3%; margin-left: 6%;">Hoje</h1>
    <br><h2 style="color: #3944B9; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: 6%;"> Música</h2><br>

    <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/imagens/homenagem.jpeg" class="img-fluid rounded-start" alt="homenagem">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Roberto de Carvalho faz homenagem e confirma lançamento de música inédita de Rita Lee.</h5>
            <p class="card-text">
              Roberto de Carvalho, viúvo de Rita Lee, revelou em uma publicação no Instagram que a primeira música inédita da cantora em lançamento póstumo chegará ainda este mês.</p>
            <p class="card-text"><small class="text-muted">Atualizado a 1 hora atrás. </small></p>
          </div>
        </div>
      </div>
    </div> 

    <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/imagens/dupla.png" class="img-fluid rounded-start" alt="sertanejo">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Chitãozinho detona nova geração da música sertaneja e dispara: “Sem conteúdo”.</h5>
            <p class="card-text">
              Pela primeira vez na história, a dupla sertaneja Chitãozinho e Xororó está pronta para subir ao palco do Rock in Rio, agendado para setembro deste ano. No entanto, o anúncio da participação dos renomados artistas sertanejos em um evento tão emblemático para os fãs do rock’n’roll não passou despercebido, gerando críticas e descontentamento entre parte do público habitual do festival.</p>
            <p class="card-text"><small class="text-muted">Atualizado a 5 horas atrás. </small></p>
          </div>
        </div>
      </div>
    </div> 

    <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/imagens/musica.png" class="img-fluid rounded-start" alt="música">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Conheça os brasileiros prontos para dominar o cenário internacional da música eletrônica.</h5>
            <p class="card-text">
              Cada vez mais brasileiros vem se destacando na cena da música eletrônica internacional com lugar garantido nos festivais e clubs mais famosos do mundo. Os estilos são os mais variados e os talentos estão por toda parte do Brasil. Dois nomes que vem chamando atenção são Liu e Mila Journee, que estão no line-up da Tomorrowland Brasil — versão brasileira de um dos maiores festivais de música eletrônica do mundo. O evento acontece em Itu, São Paulo, nos dias 12, 13 e 14 de outubro.</p>
            <p class="card-text"><small class="text-muted">Atualizado a 8 horas atrás. </small></p>
          </div>
        </div>
      </div>
    </div> 

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <p>DESCUBRA A JHUB:</p>
            <p>Bem vindo ao seu hub de notícias <br> que personaliza os assuntos<br> que você se interessa e coloca em um único lugar</p>
          </div>
          <div class="col-md-5">
            <p>FAÇA O SEU JHUB:</p>
            <p> Escolha os tópicos <br> que te interressam e aproveite!</p>
          </div>
        </div>
      </div>
    </footer>
</body>
</html>