<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startup</title>
</head>
<body>

  <style>
    .footer {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: #f8f9fa;
      color:#3944B9;
      padding: 50px;
      text-align: justify;
      margin-top: 30px;
      }
  </style>

  <%- include('navbar.ejs') %>
    <h1 style="color:#3944B9;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-top: 3%; margin-left: 6%;">Hoje</h1>
    <br><h2 style="color: #3944B9; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: 6%;"> Startup</h2><br>

    <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/imagens/etiqueta.png" class="img-fluid rounded-start" alt="etiqueta">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Startup fatura R$ 1,5 milhão com etiquetas inteligentes para a indústria têxtil.</h5>
            <p class="card-text">
              Para alguns consumidores, as etiquetas de roupas podem ser vistas como incômodas e algo a ser cortado das peças. Porém, ainda que sejam percebidas como descartáveis por muitos, as etiquetas podem causar prejuízo aos empreendedores que não cumprirem com as legislações vigentes. Para sanar essa dor do mercado, Karine Liotino e Mariana Amaral fundaram a Etiqueta Certa, startup que faturou R$ 1,5 milhão em 2023.</p>
            <p class="card-text"><small class="text-muted">Atualizado a 1 hora atrás. <br> Fonte: Startupi</small></p>
          </div>
        </div>
      </div>
    </div> 

    <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/imagens/satelite.png" class="img-fluid rounded-start" alt="satélite">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Startup conecta satélite diretamente por Bluetooth pela 1ª vez.</h5>
            <p class="card-text">
              Foi estabelecida pela primeira vez — e de forma direta — a conexão Bluetooth no espaço. O feito vem da startup Hubble Network e representa um grande passo para a empresa, e tem potencial de abrir o caminho para a conexão de milhões de dispositivos no mundo.</p>
            <p class="card-text"><small class="text-muted">Atualizado a 5 horas atrás. <br> Fonte: O Globo </small></p>
          </div>
        </div>
      </div>
    </div> 

    <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="/assets/imagens/empresas.png" class="img-fluid rounded-start" alt="empresas">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              Startup espacial de cofundador da Apple arrecada US$ 56,5 mi e faz fusão de empresas.</h5>
            <p class="card-text">
              A startup de dados espaciais do cofundador da Apple Steve Wozniak, Privateer, arrecadou US$ 56,5 milhões e comprou a empresa de análise Orbital Insight, uma fusão que adicionará serviços de mapeamento e inteligência às ofertas de dados da empresa.</p>
            <p class="card-text"><small class="text-muted">Atualizado a 8 horas atrás. <br> Fonte: Startupi </small></p>
          </div>
        </div>
      </div>
    </div> 

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <p>DESCUBRA A JHUB:</p>
            <p>Bem vindo ao seu hub de notícias <br> que personaliza os assuntos<br> que você se interessa e coloca em um único lugar</p>
          </div>
          <div class="col-md-5">
            <p>FAÇA O SEU JHUB:</p>
            <p> Escolha os tópicos <br> que te interressam e aproveite!</p>
          </div>
        </div>
      </div>
    </footer>
</body>
</html>