<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnologia</title>
</head>
<body>
  <style>
    .footer {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: #f8f9fa;
      color:#3944B9;
      padding: 50px;
      text-align: justify;
      margin-top: 30px;
      }
  </style>


  <%- include('navbar.ejs') %>

    <h1 style="color:#3944B9;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-top: 3%; margin-left: 6%;">Hoje</h1>
    <h2 style="color: #3944B9; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: 6%;"> Tecnologia</h2><br>


    <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../assets/imagens/tiktok.png" class="img-fluid rounded-start" alt="Tiktok">
        </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">TikTok afirma que começará a rotular conteúdo gerado por IA.</h5>
              <p class="card-text">À medida que imagens, sons e vídeos feitos por IA se tornam comuns, a plataforma de mídia social em apuros faz questão de dizer que os usuários notarão seu identificador “AIGC".</p>
              <p class="card-text"><small class="text-muted">Atualizado a 3 minutos atrás. <br> Fonte: Forbes </small></p>
            </div>
          </div>
        </div>
      </div> 
      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../assets/imagens/elon_musk.jpeg" class="img-fluid rounded-start" alt="elon musk">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">A Tesla cortou silenciosamente mais de 3.400 ofertas de emprego.</h5>
              <p class="card-text"> A empresa de Elon Musk deixou apenas 3 listadas ofertas de emprego nos EUA – mas os candidatos podem enfrentar espaços confinados, materiais perigosos e jornadas de 12 horas.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 5 minutos atrás.<br> Fonte: Inc.com </small></p>
            </div>
          </div>
        </div>
      </div> 
      <div class="card mb-3" style="max-width: 90%; margin-left: 6%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../assets/imagens/pop.jpeg" class="img-fluid rounded-start" alt="pop">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Imagens e vídeos de deepfake se tornam mais sofisticados.</h5>
              <p class="card-text"> Katy Perry e Rihanna que se tornam alvo de deepfake no Met Gala.</p>
              <p class="card-text"><small class="text-muted">Atualizado a 10 minutos atrás. <br> Fonte: Harvard Business Review  </small></p>
            </div>
          </div>
        </div>
      </div> 

      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <p>DESCUBRA A JHUB:</p>
              <p>Bem vindo ao seu hub de notícias <br> que personaliza os assuntos<br> que você se interessa e coloca em um único lugar</p>
            </div>
            <div class="col-md-5">
              <p>FAÇA O SEU JHUB:</p>
              <p> Escolha os tópicos <br> que te interressam e aproveite!</p>
            </div>
          </div>
        </div>
      </footer>

    
</body>
</html>