.logo{ 
    transform: scale(0.3);
    margin-left: -20%;
}

.navbar{
    height: 150px;
}

.navbar-toggler .navbar-toggler-icon {
    color: #3944B9 !important; 
}

.navbar-nav{
    margin-left: -30%;
    margin-top: -5px;
}

.nav-link{
    color: #3944B9;
}

.navbar-nav .nav-item .nav-link.active {
    color: #3944B9; 
}

.navbar-nav .nav-item .nav-link.active:hover {
    color: #007bff; 
}

.nav-link:hover,
.nav-link:focus {
    color: #007bff; 
}


@media (max-width: 991.98px) {
    .navbar-toggler {
        position: absolute;
        top: 85px; 
        right: 30px; 
        z-index: 2000; 
    }
    .navbar-collapse {
        position: fixed;
        top: 120px; 
        right: -200px; 
        bottom: 0;
        background-color: #f8f9fa; 
        border-radius: 5px; 
        padding: 10px; 
        width: 200px;
        text-align: right; 
        z-index: 1000; 
        transition: right 0.3s ease; 
    }
    .navbar-collapse.show {
        right: 0; 
    }

    .nav-link, nav-link.activate{
      margin-right: 30px;
      color: mediumblue;
    }
}
  
  